body {
	margin: 0;
	overflow: hidden;
}

.framed {
	display: none;
}

.ie-text {
	display: block;
	text-align: center;
	width: 60%;
	margin: 0 auto;
	margin-top: 10%;
}

.display-text {
	display: block;
	text-align: center;
	width: 60%;
	margin: 0 auto;
	margin-top: 10%;
}

.hide {
	display: none;
}

.scroll-overflow {
	overflow: scroll;
}